@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: #6DE1D2;
    font-family: Roboto;
}

h1, h2{
    color: #ffffff;
}

h3{
    color: #ffffff;
}

#menu{
    display: inline-flex;
    list-style: none;
    padding: 5px;
    margin: 10px;
    background-color: #FFD63A;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 2px;
    border-style: outset;
    cursor: pointer;
}

#next{
    display: inline-flex;
    list-style: none;
    padding: 4px;
    margin: 10px;
    background-color: #FFD63A;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 2px;
    border-style: outset;
    cursor: pointer;
}

#start{
    display: inline-flex;
    list-style: none;
    padding: 10px;
    margin: 10px;
    background-color: #FFD63A;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 2px;
    border-style: outset;
    cursor: pointer;
}